.modal-container {
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .table-container {
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .table-container .w-full {
    width: 100%;
  }
  
  .table-container .h-full {
    height: 100%;
  }
  .react-tabs__tab--selected{
    background-color: rgba(128, 128, 128, 0.192);
    border-bottom: 2px solid red;
  }